body {
    background-color: cyan;
    font-family: Arial, Verdana, Tahoma;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    color: black;
}

p {
    font-size: larger;
    padding: 1rem;
}

h1, h2, h3 {
    font-family: "Brush Script MT";
    font-weight: bolder;
    background-color: rgb(0, 165, 165);
    padding: 15px;
    width: fit-content;
}

.body-border {
    background-color: rgb(0, 165, 165);
    padding: 2rem;
}

h1 {
    font-size: 4rem;
    margin: 3rem auto;
}

h2 {
    font-size: 3rem;
    margin: 2rem auto;
}

h3 {
    font-size: 2rem;
    margin: 2rem auto;
}

li.border {
    background-color: rgb(0, 165, 165);
    width: auto;
    padding: 5px 10px 5px 10px;
    margin-bottom: 1rem;
}

.list-container {
    text-align: center;
}

.list {
    display: inline-block;
    text-align: left;
    font-size: larger;
    list-style-position: inside;
    padding-left: 0;
}

.border {
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(0, 90, 90);
    border-radius: 20px;
}

.image {
    display: block;
    margin: 3rem auto;
    height: auto;
    width: auto;
}